In [1]:
import pandas as pd
from xlrd import xldate_as_datetime

In [2]:
df = pd.read_excel("Team outside's Report - Copy.xlsx")

In [3]:
df

,Name,Date,#Name,Email/username,password,Gender,Country,Robot Information,Source of Number,Comments
0,Mudha,44842,Mudha_Malaysia1,60175460898,123coco1,Malaysia,Male,15110635194MudhaR1@gmail.com,Group,Succesfully Logged-in
1,Mudha,44842,Mudha_Malaysia2,60103865295,123coco2,Malaysia,Male,15110635194MudhaR1@gmail.com,Group,Succesfully Logged-in
2,Mudha,44842,Mudha_Malaysia3,60167396952,123coco3,Malaysia,Male,15110635194MudhaR1@gmail.com,Group,Succesfully Logged-in
3,Mudha,44842,Mudha_Malaysia4,601172481643,123coco4,Malaysia,Male,15110635194MudhaR1@gmail.com,Group,Succesfully Logged-in
4,Mudha,44842,Mudha_Malaysia5,601172479388,123coco5,Malaysia,Male,15110635194MudhaR1@gmail.com,Group,Succesfully Logged-in
...,...,...,...,...,...,...,...,...,...,...
6115,Wendel,44570,Wendel_Malaysia66,601164037408,lan066,Malaysia,Male,151.106.34.4WendelR9@gmal.com,Group,Succesfully Logged-in
6116,Wendel,44570,Wendel_Malaysia67,601128818540,lan067,Malaysia,Male,151.106.34.4WendelR9@gmal.com,Group,Succesfully Logged-in
6117,Wendel,44570,Wendel_Malaysia68,601164182921,lan068,Malaysia,Male,151.106.34.4WendelR9@gmal.com,Group,Succesfully Logged-in
6118,Wendel,44570,Wendel_Malaysia69,601164135280,lan069,Malaysia,Male,151.106.34.4WendelR9@gmal.com,Group,Succesfully Logged-in
6119,Wendel,44570,Wendel_Malaysia70,601161570184,lan070,Malaysia,Male,151.106.34.4WendelR9@gmal.com,Group,Succesfully Logged-in

In [4]:
def convert_date_format(date):
    for i in range(date.shape[0]):
        try:
            date.at[i] = xldate_as_datetime(date.at[i], 0).strftime('%Y-%m-%d')
        except Exception as e:
            continue

In [5]:
convert_date_format(df.Date)

In [6]:
set(df.Date)

{'01.09.2022',
 '08.09.2022',
 '08/23/22',
 '08/24/22',
 '08/29/22',
 '10.09.2022',
 '13.08.2022',
 '13.09.2022',
 '13/08/2022',
 '13/09/2022,Malaysia,Female',
 '13/9/2022',
 '14.09.2022',
 '14/09/2022,Malaysia,Female',
 '14/9/2022',
 '15.08.2022',
 '15.09.2022',
 '15/09/2022',
 '15/9/2022',
 '16.08.2022',
 '16/08/2022',
 '16/09/2022',
 '16/9/2022',
 '17.09.2022',
 '19.08.2022',
 '19.09.2022',
 '19/9/2022',
 '20.08.2022',
 '2022-01-08',
 '2022-01-09',
 '2022-02-09',
 '2022-06-09',
 '2022-07-09',
 '2022-08-12',
 '2022-08-18',
 '2022-08-31',
 '2022-09-01',
 '2022-09-06',
 '2022-09-07',
 '2022-09-09',
 '2022-09-13',
 '2022-09-14',
 '2022-09-17',
 '2022-09-20',
 '2022-10-08',
 '2022-11-08',
 '2022-12-09',
 '22.08.2022',
 '22/08/2022',
 '23.08.2022',
 '23/08/2022',
 '24.08.2022',
 '24/08/2022',
 '25.08.2022',
 '25/08/2022',
 '29.08.2022',
 '29.8.2022',
 '29/08/2022',
 '30.08.2022',
 '31.08.2022',
 '31/08/2022',
 '7/28/2022',
 '8/22/22',
 '8/23/22',
 '8/24/22'}

In [7]:
df.Date.mask(df.Date.str.contains(','), df.Date.str.split()[0], inplace=True)
df['Date'] = pd.to_datetime(df.Date).astype('str')

In [8]:
set(df.Date)

{'2022-01-08',
 '2022-01-09',
 '2022-02-09',
 '2022-06-09',
 '2022-07-09',
 '2022-07-28',
 '2022-08-09',
 '2022-08-12',
 '2022-08-13',
 '2022-08-15',
 '2022-08-16',
 '2022-08-18',
 '2022-08-19',
 '2022-08-20',
 '2022-08-22',
 '2022-08-23',
 '2022-08-24',
 '2022-08-25',
 '2022-08-29',
 '2022-08-30',
 '2022-08-31',
 '2022-09-01',
 '2022-09-06',
 '2022-09-07',
 '2022-09-09',
 '2022-09-13',
 '2022-09-14',
 '2022-09-15',
 '2022-09-16',
 '2022-09-17',
 '2022-09-19',
 '2022-09-20',
 '2022-10-08',
 '2022-10-09',
 '2022-11-08',
 '2022-12-09'}

In [9]:
df['Date'].where(df.Date.str[:4] == '2022', '2022' + df.Date.str[4:], inplace=True)

In [10]:
condition1 = df.Date.str.slice(5, 7).astype('int') > 9
condition2 = df.Date.str.slice(5, 7).astype('int') < 7
condition3 = (df.Date.str.slice(5, 7).astype('int') == 7) & (df.Date.str.slice(8, ).astype('int') < 12)

replaced_value = '2022' + '-' + df.Date.str[8:] + '-' + df.Date.str[5:7]

df['Date'].mask(condition1, replaced_value, inplace=True)
df['Date'].mask(condition2, replaced_value, inplace=True)
df['Date'].mask(condition3, replaced_value, inplace=True)

In [11]:
set(df.Date)

{'2022-07-28',
 '2022-08-01',
 '2022-08-09',
 '2022-08-10',
 '2022-08-11',
 '2022-08-12',
 '2022-08-13',
 '2022-08-15',
 '2022-08-16',
 '2022-08-18',
 '2022-08-19',
 '2022-08-20',
 '2022-08-22',
 '2022-08-23',
 '2022-08-24',
 '2022-08-25',
 '2022-08-29',
 '2022-08-30',
 '2022-08-31',
 '2022-09-01',
 '2022-09-02',
 '2022-09-06',
 '2022-09-07',
 '2022-09-09',
 '2022-09-10',
 '2022-09-12',
 '2022-09-13',
 '2022-09-14',
 '2022-09-15',
 '2022-09-16',
 '2022-09-17',
 '2022-09-19',
 '2022-09-20'}

In [12]:
df

,Name,Date,#Name,Email/username,password,Gender,Country,Robot Information,Source of Number,Comments
0,Mudha,2022-08-10,Mudha_Malaysia1,60175460898,123coco1,Malaysia,Male,15110635194MudhaR1@gmail.com,Group,Succesfully Logged-in
1,Mudha,2022-08-10,Mudha_Malaysia2,60103865295,123coco2,Malaysia,Male,15110635194MudhaR1@gmail.com,Group,Succesfully Logged-in
2,Mudha,2022-08-10,Mudha_Malaysia3,60167396952,123coco3,Malaysia,Male,15110635194MudhaR1@gmail.com,Group,Succesfully Logged-in
3,Mudha,2022-08-10,Mudha_Malaysia4,601172481643,123coco4,Malaysia,Male,15110635194MudhaR1@gmail.com,Group,Succesfully Logged-in
4,Mudha,2022-08-10,Mudha_Malaysia5,601172479388,123coco5,Malaysia,Male,15110635194MudhaR1@gmail.com,Group,Succesfully Logged-in
...,...,...,...,...,...,...,...,...,...,...
6115,Wendel,2022-09-01,Wendel_Malaysia66,601164037408,lan066,Malaysia,Male,151.106.34.4WendelR9@gmal.com,Group,Succesfully Logged-in
6116,Wendel,2022-09-01,Wendel_Malaysia67,601128818540,lan067,Malaysia,Male,151.106.34.4WendelR9@gmal.com,Group,Succesfully Logged-in
6117,Wendel,2022-09-01,Wendel_Malaysia68,601164182921,lan068,Malaysia,Male,151.106.34.4WendelR9@gmal.com,Group,Succesfully Logged-in
6118,Wendel,2022-09-01,Wendel_Malaysia69,601164135280,lan069,Malaysia,Male,151.106.34.4WendelR9@gmal.com,Group,Succesfully Logged-in
6119,Wendel,2022-09-01,Wendel_Malaysia70,601161570184,lan070,Malaysia,Male,151.106.34.4WendelR9@gmal.com,Group,Succesfully Logged-in

In [13]:
result = df.pivot_table(index='Date', columns='Name', values='#Name', aggfunc='count').fillna(0)
result

Name,AJ,Bella,Denice,Ethel,Leo,Lyndy,Mudha,Pinky,Roze,Wendel,pinky
Date,,,,,,,,,,,
2022-07-28,70.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-08-01,70.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-08-09,0.0,0.0,0.0,0.0,0.0,0.0,70.0,0.0,0.0,0.0,0.0
2022-08-10,0.0,0.0,0.0,210.0,0.0,0.0,70.0,0.0,0.0,0.0,0.0
2022-08-11,0.0,0.0,0.0,0.0,0.0,0.0,70.0,0.0,0.0,0.0,0.0
2022-08-12,70.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-08-13,70.0,0.0,0.0,0.0,0.0,0.0,140.0,0.0,0.0,0.0,0.0
2022-08-15,0.0,0.0,0.0,0.0,0.0,0.0,30.0,0.0,0.0,0.0,0.0
2022-08-16,140.0,0.0,0.0,0.0,0.0,0.0,110.0,0.0,0.0,0.0,0.0
2022-08-18,0.0,0.0,0.0,70.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-08-19,0.0,0.0,0.0,70.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-08-20,0.0,0.0,0.0,70.0,0.0,0.0,50.0,0.0,0.0,0.0,0.0
2022-08-22,0.0,0.0,0.0,70.0,0.0,70.0,0.0,0.0,0.0,70.0,0.0
2022-08-23,0.0,70.0,0.0,70.0,70.0,70.0,90.0,70.0,0.0,70.0,0.0
2022-08-24,0.0,70.0,0.0,70.0,70.0,70.0,130.0,70.0,0.0,280.0,0.0
2022-08-25,0.0,70.0,0.0,70.0,70.0,0.0,80.0,0.0,0.0,0.0,70.0
2022-08-29,0.0,70.0,0.0,0.0,70.0,0.0,0.0,70.0,0.0,140.0,0.0
2022-08-30,0.0,0.0,0.0,70.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-08-31,0.0,70.0,70.0,0.0,70.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-09-01,0.0,70.0,0.0,140.0,130.0,0.0,0.0,190.0,0.0,70.0,0.0
2022-09-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,43.0,0.0,0.0,0.0
2022-09-06,0.0,0.0,0.0,0.0,70.0,0.0,0.0,47.0,0.0,0.0,0.0
2022-09-07,0.0,0.0,0.0,0.0,40.0,0.0,0.0,70.0,140.0,0.0,0.0
2022-09-09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,70.0,0.0,0.0,0.0
2022-09-10,0.0,0.0,0.0,0.0,0.0,0.0,70.0,0.0,0.0,0.0,0.0
2022-09-12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,65.0,0.0,0.0,0.0
2022-09-13,0.0,0.0,0.0,0.0,70.0,0.0,70.0,5.0,0.0,0.0,0.0
2022-09-14,0.0,0.0,0.0,0.0,70.0,0.0,70.0,70.0,0.0,0.0,0.0
2022-09-15,0.0,0.0,70.0,0.0,0.0,0.0,70.0,70.0,0.0,0.0,0.0
2022-09-16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,70.0,70.0,0.0,0.0
2022-09-17,0.0,0.0,0.0,0.0,70.0,0.0,70.0,0.0,0.0,0.0,0.0
2022-09-19,0.0,0.0,0.0,0.0,0.0,0.0,70.0,70.0,0.0,0.0,0.0
2022-09-20,0.0,0.0,0.0,0.0,70.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
result['Total'] = result.sum(axis=1)
result

Name,AJ,Bella,Denice,Ethel,Leo,Lyndy,Mudha,Pinky,Roze,Wendel,pinky,Total
Date,,,,,,,,,,,,
2022-07-28,70.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,70.0
2022-08-01,70.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,70.0
2022-08-09,0.0,0.0,0.0,0.0,0.0,0.0,70.0,0.0,0.0,0.0,0.0,70.0
2022-08-10,0.0,0.0,0.0,210.0,0.0,0.0,70.0,0.0,0.0,0.0,0.0,280.0
2022-08-11,0.0,0.0,0.0,0.0,0.0,0.0,70.0,0.0,0.0,0.0,0.0,70.0
2022-08-12,70.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,70.0
2022-08-13,70.0,0.0,0.0,0.0,0.0,0.0,140.0,0.0,0.0,0.0,0.0,210.0
2022-08-15,0.0,0.0,0.0,0.0,0.0,0.0,30.0,0.0,0.0,0.0,0.0,30.0
2022-08-16,140.0,0.0,0.0,0.0,0.0,0.0,110.0,0.0,0.0,0.0,0.0,250.0
2022-08-18,0.0,0.0,0.0,70.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,70.0
2022-08-19,0.0,0.0,0.0,70.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,70.0
2022-08-20,0.0,0.0,0.0,70.0,0.0,0.0,50.0,0.0,0.0,0.0,0.0,120.0
2022-08-22,0.0,0.0,0.0,70.0,0.0,70.0,0.0,0.0,0.0,70.0,0.0,210.0
2022-08-23,0.0,70.0,0.0,70.0,70.0,70.0,90.0,70.0,0.0,70.0,0.0,510.0
2022-08-24,0.0,70.0,0.0,70.0,70.0,70.0,130.0,70.0,0.0,280.0,0.0,760.0
2022-08-25,0.0,70.0,0.0,70.0,70.0,0.0,80.0,0.0,0.0,0.0,70.0,360.0
2022-08-29,0.0,70.0,0.0,0.0,70.0,0.0,0.0,70.0,0.0,140.0,0.0,350.0
2022-08-30,0.0,0.0,0.0,70.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,70.0
2022-08-31,0.0,70.0,70.0,0.0,70.0,0.0,0.0,0.0,0.0,0.0,0.0,210.0
2022-09-01,0.0,70.0,0.0,140.0,130.0,0.0,0.0,190.0,0.0,70.0,0.0,600.0
2022-09-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,43.0,0.0,0.0,0.0,43.0
2022-09-06,0.0,0.0,0.0,0.0,70.0,0.0,0.0,47.0,0.0,0.0,0.0,117.0
2022-09-07,0.0,0.0,0.0,0.0,40.0,0.0,0.0,70.0,140.0,0.0,0.0,250.0
2022-09-09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,70.0,0.0,0.0,0.0,70.0
2022-09-10,0.0,0.0,0.0,0.0,0.0,0.0,70.0,0.0,0.0,0.0,0.0,70.0
2022-09-12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,65.0,0.0,0.0,0.0,65.0
2022-09-13,0.0,0.0,0.0,0.0,70.0,0.0,70.0,5.0,0.0,0.0,0.0,145.0
2022-09-14,0.0,0.0,0.0,0.0,70.0,0.0,70.0,70.0,0.0,0.0,0.0,210.0
2022-09-15,0.0,0.0,70.0,0.0,0.0,0.0,70.0,70.0,0.0,0.0,0.0,210.0
2022-09-16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,70.0,70.0,0.0,0.0,140.0
2022-09-17,0.0,0.0,0.0,0.0,70.0,0.0,70.0,0.0,0.0,0.0,0.0,140.0
2022-09-19,0.0,0.0,0.0,0.0,0.0,0.0,70.0,70.0,0.0,0.0,0.0,140.0
2022-09-20,0.0,0.0,0.0,0.0,70.0,0.0,0.0,0.0,0.0,0.0,0.0,70.0

In [15]:
result.Total.sum()

6120.0

In [16]:
result.to_excel("facebook_accounts_record_of_Fei_Team.xlsx")